#includes:
#    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Symfony
        - '#Cannot call method arrayNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'
        - '#Cannot call method end\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'

        # Doctrine DBAL
        - '#Cannot call method fetchAll\(\) on Doctrine\\DBAL\\Driver\\Statement\|int#'
        - '#Cannot call method fetchColumn\(\) on Doctrine\\DBAL\\Driver\\Statement\|int#'
        - '#Parameter \#2 \$y of method Doctrine\\DBAL\\Query\\Expression\\ExpressionBuilder::in\(\) expects array\<string\>\|string, array\<int, int\> given#'

        # Ibexa Platform related errors
        -
            message: '#Access to protected property Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Field::\$value#'
            path: lib/Core/Factory/EmailDataFactory.php
        -
            message: '#Access to protected property Ibexa\\Core\\Repository\\Values\\ContentType\\ContentType::\$fieldDefinitionsById#'
            path: lib/Core/Mapper/DomainObjectMapper.php

        - '#Access to protected property Ibexa\\Contracts\\Core\\Repository\\Values\\Content\\Field::\$value#'
        - '#Access to an undefined property Ibexa\\Contracts\\ContentForms\\Data\\Content\\FieldData::\$email#'

        # Pagerfanta
        - '#Property Netgen\\InformationCollection\\Core\\Pagination\\Pagerfanta\\View\\InformationCollectionAdminView::\$pagerfanta \(Pagerfanta\\Pagerfanta\) does not accept Pagerfanta\\PagerfantaInterface#'
