<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
>
    <testsuites>
        <testsuite name="Netgen\InformationCollection\Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>Repository</directory>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
                <file>NetgenInformationCollectionBundle.php</file>
                <file>Events.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
