html,
body {
    height:100%;
    margin:0;
}
body.ic-resizing {
    cursor:ew-resize;
}

#{$namespace} {
    min-height:100%;
    font-family:$baseFont;
    font-size:$baseFontSize;
    line-height:1.6;
    color:$textColor;
    background:$contentBg;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    display:flex;
    flex-direction:column;
    * {
        box-sizing:border-box;
    }
    .ic-container {
        height:100%;
        width:100%;
        max-width:1600px;
        margin:0 auto;
        display:flex;
        flex:1;
        align-items:stretch;
    }
    .ic-sidebar {
        width:$sidebarWidth;
        background:$sidebarBg;
        .jstree-ng-tags {
            padding:$gutter;
            overflow-x:hidden;
        }
    }
    .ic-content {
        flex:1;
        padding:$gutter;
        overflow-x:auto;
    }

    /* messages */
    .ic-message {
        margin:2em 0 3em;
        padding:$gutter;
        background:hsl(205, 30, 92);
        &.ic-message-success {
            background:hsl(160, 80, 80);
        }
        &.ic-message-error {
            background:hsl(0, 100, 90);
        }
    }

    /* header */
    .ic-header {
        background:hsl(0, 0, 30);
        .ic-logo {
            height:50px;
            width:$sidebarWidth;
            background:hsl(0, 0, 20) url(../images/ic-logo-white.svg) no-repeat center center;
            background-size:auto 60%;
        }
    }
}
.layout-column.main-column {
    background:#f5f5f5;
}
