imports:
    - { resource: actions.yml }
    - { resource: storage.yml }
    - { resource: factories.yml }
    - { resource: legacy_handlers.yml }
    - { resource: admin.yml }
    - { resource: anonymizers.yml }

services:
    netgen_information_collection.controller:
        class: Netgen\Bundle\InformationCollectionBundle\Controller\InformationCollectionController
        calls:
            - [setContainer, ['@service_container']]

    information_collection:
        alias: 'netgen_information_collection.controller'

    netgen_information_collection_legacy.controller:
        class: Netgen\Bundle\InformationCollectionBundle\Controller\InformationCollectionLegacyController
        calls:
            - [setContainer, ['@service_container']]

    information_collection_legacy:
        alias: 'netgen_information_collection_legacy.controller'

    netgen_information_collection.form.builder:
        class: Netgen\Bundle\InformationCollectionBundle\Form\Builder\FormBuilder
        arguments:
            - '@form.factory'
            - '@ezpublish.api.service.content_type'
            - '@router'
            - '@ezpublish.config.resolver'
            - '@netgen_information_collection.factory.field_data'

    netgen_information_collection.listener:
        class: Netgen\Bundle\InformationCollectionBundle\Listener\InformationCollectedListener
        arguments:
            - '@netgen_information_collection.action.registry'
        tags:
            - { name: kernel.event_subscriber }

    netgen_information_collection.field_handler.registry:
        class: Netgen\Bundle\InformationCollectionBundle\FieldHandler\FieldHandlerRegistry

    netgen_information_collection.mailer:
        class: Netgen\Bundle\InformationCollectionBundle\Mailer\Mailer
        arguments:
            - '@mailer'

    netgen_information_collection.twig.extension:
        class: Netgen\Bundle\InformationCollectionBundle\Templating\Twig\InformationCollectionExtension
        arguments:
            - '@netgen_information_collection.factory.captcha'
        tags:
            - { name: twig.extension }
