<div class="ng-ui-header">
    <section class="ng-ui-container">
        <a href="{{ path('netgen_information_collection.route.admin.overview') }}"><div class="ng-ui-logo"></div></a>
    </section>
</div>
